.main div {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  float: left;
  margin: 10px;
  xxbackground-color: rgba(214,223,226,.5);
}

.main div p {
  margin: 20px;
}

div.draggable {
  width: 100px;
  height: 100px;
}

#note {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 250px;
  height: 300px;
  background-color: rgba(214,223,226,.5);
  border: 1px solid #333;
}

#note h2 {
  background-color: rgba(214,223,226,1);
  padding: 5px 20px;
}

#note p {
  margin: 20px;
}

.checkerboard {
  border-collapse: collapse;
  width: 720px;
  box-sizing: border-box;
}
.checkerboard td {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0,0,0,.5);
  text-align: center;
  vertical-align: middle;
}

.checkerboard tr:nth-of-type(even) td:nth-of-type(odd),
.checkerboard tr:nth-of-type(odd) td:nth-of-type(even)
 {
  background-color: black;
}

.checkerboard .highlight {
  background-color: rgba(0,0,0,.5) !important;
}

.piece {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
}

#photos {
  float: right;
}
#trashcan {
  float: left;
  display: block;
  opacity: .6;
}
#trashcan.highlight {
  opacity: 1;
}

.songList {
  padding: 0;
  margin: 0 0 50px 0;
  list-style-type: none;
}

.songList li {
  padding: 0;
  margin: 0 0 3px 0;
  list-style-type: none;
  padding: 10px 10px 10px 5px;
  border: 1px solid rgba(30,30,30,1);
  font-family: ColaborateMediumRegular, Arial, sans-serif;
  background-color: rgba(240,240,240,1);
  border-radius: 3px;
  width: 100%;
}

#playlist {
  counter-reset: step-counter;
  min-height:50px;
}

#playlist li {
  counter-increment: step-counter;
}

#playlist li:before {
  content: counter(step-counter);
  font-weight: bold;
  border-radius: 3px;
  background-color: rgb(27,45,94);
  color: white;
  position: relative;
  padding: 5px 10px;
  margin-right: 10px;
}

#playlist .ui-sortable-helper {
  padding-left: 30px;
}

#playlist .ui-sortable-helper:before {
  content: '';
  padding: 0;
  margin: 0;
  background-color: none;
}

#playlist .ui-icon {
  float: right;
}

.folder {
  margin : 0 0 10px 0;
  padding: 10px;
  list-style-type: none;
  border-radius: 5px;
  border: solid 1px #DDD;
  background-color: #EEE;
}
.fileList {
  min-height: 50px;
  margin : 10px 0 0 0;
  padding-left: 20px;
  list-style-type: none;
}
.fileList li {
  background-color: rgba(200,200,200, .7);
  padding: 10px;
}


#target {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: rgba(100,100,100,.2);
  margin: 0;
}



