/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background-color: rgb(254,250,246);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */

/* @font-face */
/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic-webfont.woff') format('woff'),
         url('leaguegothic-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('ColabThi-webfont.eot');
    src: url('ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabThi-webfont.woff') format('woff'),
         url('ColabThi-webfont.ttf') format('truetype'),
         url('ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('ColabLig-webfont.eot');
    src: url('ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabLig-webfont.woff') format('woff'),
         url('ColabLig-webfont.ttf') format('truetype'),
         url('ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ColaborateRegular';
    src: url('ColabReg-webfont.eot');
    src: url('ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabReg-webfont.woff') format('woff'),
         url('ColabReg-webfont.ttf') format('truetype'),
         url('ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('ColabMed-webfont.eot');
    src: url('ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabMed-webfont.woff') format('woff'),
         url('ColabMed-webfont.ttf') format('truetype'),
         url('ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('ColabBol-webfont.eot');
    src: url('ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabBol-webfont.woff') format('woff'),
         url('ColabBol-webfont.ttf') format('truetype'),
         url('ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-webfont.eot');
    src: url('Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('Inconsolata-webfont.woff') format('woff'),
         url('Inconsolata-webfont.ttf') format('truetype'),
         url('Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* utilities */

/* box-sizine */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.clear:after { 
content: "."; display: block; height: 0; clear: both; visibility: hidden; 
}

.clear {
	min-height: 1px;
}

* html .clear {
 height: 1px;
}

h1 {
	font-family: 'League Gothic', Arial, sans-serif;
	font-weight: normal;
}

h2 {
	font-family: 'ColaborateMediumRegular', Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 20px;
}


header {
	position: fixed;
	top: 0;
	vertical-align: middle;
	width: 100%;
	background-color: rgb(27,45,94);
	padding: 10px 0 5px 0;
	text-align: center;
	color: rgb(255,255,255);
	text-shadow: 2px 2px 1px rgba(255,255,255,.5);
	font: normal 28px 'League Gothic', Arial, sans-serif;
	letter-spacing: 2px;
}

header .amp {
	font-size: 20px;
}

.wrapper {
	margin-top: 100px;
}

.main {
	padding-bottom: 1em;
	border-bottom: solid 1px rgba(255,255,255,.5);
}

.main h1 {
	font-size: 32px;
	color: rgb(100,100,100);
	text-shadow: 1px 1px 1px rgb(255,255,255);
	border-bottom: solid 1px rgb(100,100,100);
	margin-bottom: 0.5em;
}

.content {
	max-width: 760px;
	margin: 0 auto;
	position: relative;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(27,45,94);
}

footer p {
	text-align: center;
	font-size: 14px;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	padding: .5em .25em .5em 1em;
	color:rgb(255,255,255);
	margin: 0;
}

footer a {
	color: rgb(200,200,200);
}

p , li, legend , form{
	font-size: 18px;
	color: rgb(100,100,100);
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
}

fieldset {
	padding: 10px;
	border: 1px solid #888;
	margin: 25px 0;	
}

.nav {
	margin: 10px 0 0 100px;	
}

.nav li {
	display: inline-block;	
}

.nav a, .example {
	display: inline-block;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	font-size: 12px;
	color: rgb(100,100,100);
	text-decoration: none;
	border-radius: 0.25em;
	padding: .25em .5em;
	background-color: rgba(255,211,224,.5);
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	cursor: pointer;
}

.nav a:hover, .example:hover{
	background-color: rgba(255,255,255,.85);
	color: rgb(0,0,0);
}


#resources {
	background-color: rgba(100,100,100,0.95);
	padding: 0em 1em 1em .75em;
	position: absolute;
	top: 10em;
	left: -29em;
	width: 30em;
	border-radius: 0 0 .5em 0;
	display: none;
}

#resources .open {
	position: absolute;
	width: 20px;
	height: 20px;
	right: -20px;
	top: -20px;
	background-color: rgba(100,100,100,0.8);
	border-radius: .5em 0;
	text-align: center;
	font-family: 'ColaborateBoldRegular', Arial, sans-serif;
	cursor: pointer;
	color: rgb(255,255,255);
	line-height: 100%;
}

#resources h2 {
	font-family: 'ColaborateBoldRegular', Arial, sans-serif;
	font-size:18px;
	text-transform:uppercase;
	color: rgb(255,255,255);
	margin-top: 1em;
	text-shadow: none;
}

#resources h3 {
	font-family: 'ColaborateMediumRegular', Arial, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,.8);
	margin-top: 8px;
}

#resources ul {
	margin: 5px 0 0 0;
}

#resources .nav a {
	color: rgb(255,255,255);
}
.resourceList > li {
	display: inline-block;
	padding: .5em 1em;
	border-radius: 0.25em;
	background-color: rgba(119,104,74, .5);
	font-family: 'ColaborateRegular', Arial, sans-serif;
	font-size: 12px;
	color: rgb(255,255,255);
	margin-bottom: 5px;
}



.example, code {
	font-family: 'Inconsolata', Courier, monospaced;
	font-size: 16px;
	color: rgb(100,100,100);
}

.results {
	border-radius: 10px;
	background-color: rgba(214,223,226,.5);
	padding: 1em;
	margin-bottom: 1em;
	overflow: hidden;
}

.results strong {
	font-family: 'ColaborateRegular', Arial, sans-serif;
	color: rgb(100,100,100);
}
.results .found {
	color: rgb(255,0,0);
}

.unit {
	display: inline-block;
	width: 45%;
}
.results div {
	padding-bottom: 10px;
}
.results div code {
	float: right;
	width: 60%;
}

input {
	font-size: 20px;
}
.found {
	color: rgba(255,0,0,1);
}
form .wide {
	font-size: 18px;
	width: 100%;
}
.resultSection {
	float: right;
	width: 40%;
	margin-left: 20px;
}
#regexTester {
	margin-right: 45%;
}
.sideBySide li {
	float: left;
	overflow: hidden;
	width: 220px;
}
.clickable {
	cursor:pointer;
	margin-bottom: 5px;
}

.clickable:hover {
background-color:#FFC;
}

.highlighted {
	position: absolute;
	background-color: transparent;
	opacity: 0.5;
	filter: alpha(opacity=50);
	border:1px solid white;
	z-index: 100;
}

.sm .highlighted {
	opacity: 1;
	border: none !important;
}

.badge {
	position: absolute;
	margin-top: -10px;
	z-index:50;
	font-family: 'Inconsolata', Courier, monospaced;
	font-size:14px;
	font-weight:bold;
	padding: 5px;
	color: black !important;
	background-color: #3FF;
	border: 1px black solid;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.col1 {
	float: left;
	width: 75%;	
}
.col2 {
	float: right;
	width: 20%;	
}

.col2 ul {
	margin-left: 20px;
	list-style: square;
}
.col2 li {
	font-size: 90%;	
}


#selectorList {
	overflow: hidden;	
}
#selector {
	width: 275px;
}
#bib {
	padding: 15px;
	border: 1px dotted #FFF;
	font-size: 80%;
	margin-top: 25px;
	background-color: rgba(214,223,226,.5);
	border-radius: 10px;
}

#gallery img {
	display: inline-block;
	margin: 0 0 10px 0;
	border: 1px solid rgb(0,0,0);
}

form#order div, form#signup div{
	padding-bottom: 10px;	
}

form#order .label, form#signup .label {
	display: block;
	clear: left;
	float: left;
	width: 175px;
	text-align: right;
	padding: 7px 15px 0 0;
	text-transform: uppercase;	
	font-weight: bold;
}

form#signup .label {
	width: 200px;	
}

.labelBlock {
	text-transform: uppercase;
	font-weight: bold;	
	display: block;
	padding-bottom: 0 !important;
	clear: both;
	margin-top: 10px;
}

form#order select, form#signup select {
	display: inline-block;
	margin-top: 8px;	
}

form#order input[type="radio"], form#signup input[type="radio"], form#signup input[type="checkbox"] {
   display: inline-block;
   margin-top: 10px;	
}

form .indent, #submit {
	margin-left: 215px;	
}
#console label {
	float: left;
	width: 100px;
}
.clearLeft {
	clear: left;
}
.imgRight {
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
}
.imgLeft {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

#signup .indent label.error {
  margin-left: 0;
}

#events body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#events fieldset { 
	border: 1px solid black;
}
#events legend {
	font: 150% 'League Gothic';
}

.row p {
  float: left;
  width: 25%;
  margin-right: 5%;
  font-weight: bold;
  color: red;
}
.row p img {
  max-width: 100%;
  border: 1px solid black;
}
.row button {
  font-weight: bold;
  color: red;
  font-size: 1em;
}

#accordion h2 {
  font-weight: normal;
}