body {
    background-color: powderblue;
}
h1 {
    color: blue;
    text-align: center;
    padding: 10px;
    width: 600px;
}
p {
    color: red;
    font-size: 18px;
    font-family: Arial;
    float: left;
    margin: 100px 150px 100px 80px;
    
}