<!doctype html>
<html>
<!--
Karyna Kazhamiakina
WEB 235
Module 8
14mar2021
-->
<head>
<meta charset="UTF-8">
<title>WEB 235 - Module 8 - Vue intro</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
<h1>WEB 235 - Module 8 - Vue intro</h1>
<div id="app">
  <h2>{{message}}</h2>
  <p>{{switchmessage}}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
  <ol>
    <li v-for="todo in todos">{{todo.text}}</li>
  </ol>
</div>
<script>
var app = new Vue({
  el:'#app',
  data: {
    message: 'This is the first App.',
    switchmessage: 'Reverse this message by the word',
    todos: [
      {text: 'Learn JavaScript'},
      {text: 'Learn Vue'},
      {text: 'Learn Experiment'}
    ]
  },
  methods: {
    reverseMessage: function () {
      this.switchmessage = this.switchmessage.split(' ').reverse().join(' ')
    }
  }
})
app.todos.push({text: 'Tedd wants a new item at the end of the list'})
</script>
</body>
</html>
